* {
    background-color: rgb(22, 22, 22);
    text-align: center;
    color: aliceblue;
    align-items: center;
    margin: 0;
    padding: 0;
}
#inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
     background-color: rgba(64, 125, 179, 0);
     background-image: url(https://th.bing.com/th/id/R.3331e0705e03eabef775425a2a27065d?rik=dLeucplXVd9Otw&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fopvBzup.jpg&ehk=EK1N%2fcZDweVCfpI7we4wV74XdnXEE1%2fyneDN1zSrxNk%3d&risl=&pid=ImgRaw&r=0);
     background-size: cover;
}
#final{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 5vh;
    background-image: url(https://th.bing.com/th/id/R.3331e0705e03eabef775425a2a27065d?rik=dLeucplXVd9Otw&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fopvBzup.jpg&ehk=EK1N%2fcZDweVCfpI7we4wV74XdnXEE1%2fyneDN1zSrxNk%3d&risl=&pid=ImgRaw&r=0);
}

#class {
    background-color: rgba(22, 22, 22, 0);

    font-size: 90px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

#class1 {
    background-color: rgba(22, 22, 22, 0);

    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

#horario {
    background-color: rgb(22, 22, 22);

    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#clase {
    font-size: 20px;

    margin-bottom: 20px;
    margin-top: 0px;
    font-family: 'Rock Salt', cursive;


}

#by {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(22, 22, 22, 0);
    text-decoration: none;
    text-shadow: 0 0 20px #ffffff;
    font-size: 12px;


}











@media only screen and (max-width: 768px) {
#tri {
    height: 200px;
}
#trii {
    height: 280px;
}
  }